In [ ]:

Statistcs

In [ ]:
#descriptive Statistcs
#In measure of central tendency 
#mean, median, mode

In [ ]:
Measure of central Tendency

In [2]:
import numpy as np 
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

# using numpy
np.mean(X)

4.2

In [3]:
#created the list into a table format
import pandas as pd 
z=pd.DataFrame(data={'values': [1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]})
z

    values
0        1
1        2
2        3
3        1
4        2
5        3
6        4
7        5
8        2
9        6
10       7
11       5
12       4
13       8
14      10

In [4]:
#mean using pandas 
z.mean()

values    4.2
dtype: float64

In [5]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [6]:
#median 
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#Using numpy
np.median(X)

4.0

In [7]:
print("median:",np.median(X))

median: 4.0

In [8]:
#using pandas
z.median()

values    4.0
dtype: float64

In [9]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [10]:
#mode
#numpy does not has an attribute mode

#using pandas
z.mode()

   values
0       2

In [ ]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

Measure of Dispersion

In [11]:
#variance
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.var(X)

6.5600000000000005

In [12]:
print("Variance : ", np.var(X))

Variance :  6.5600000000000005

In [13]:
#using pandas
z.var()

values    7.028571
dtype: float64

In [14]:
#standard deviation
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.std(X)

2.5612496949731396

In [15]:
print("Variance : ", np.std(X))

Variance :  2.5612496949731396

In [16]:
#using pandas
z.std()

values    2.651145
dtype: float64

In [ ]:
5 number Summary
1)Minimum
2)1st quartile -Q1
3)2nd quartile -Q2(Median)
4)3rd quartile -Q3
5)Maximum

In [17]:
#Minimum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.min(X)

1

In [18]:
print("Minimum : ", np.min(X))

Minimum :  1

In [19]:
#using pandas
z.min()

values    1
dtype: int64

In [20]:
#quartiles
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.quantile(X,[0.25,0.50,0.75])

array([2. , 4. , 5.5])

In [21]:
print("Q1 : ", np.quantile(X,0.25),
      "Q2 : ", np.quantile(X,0.50),
      "Q3 : ", np.quantile(X,0.75))

Q1 :  2.0 Q2 :  4.0 Q3 :  5.5

In [22]:
#using pandas
z.quantile([0.25,0.50,0.75])

      values
0.25     2.0
0.50     4.0
0.75     5.5

In [23]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [24]:
#Maximum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.max(X)

10

In [25]:
print("Maximum : ", np.max(X))

Maximum :  10

In [26]:
#using pandas
z.max()

values    10
dtype: int64

In [ ]:
Range

In [27]:
#Range
#using numpy

Ran=np.max(X) - np.min(X)
Ran

9

In [28]:
#using pandas
Range = z.max()-z.min()
Range

values    9
dtype: int64

In [ ]:
IQR

In [29]:

#IQR
#using numpy
IQR = np.quantile(X,0.75)-np.quantile(X,0.25)
IQR

3.5

In [30]:
#using pandas
iqr=z.quantile(0.75)-z.quantile(0.25)
iqr

values    3.5
dtype: float64

In [ ]:
QD

In [31]:
#QD
#using numpy
QD = IQR/2
QD

1.75

In [32]:
#QD
#using pandas
qd =iqr/2
qd

values    1.75
dtype: float64